.Summary {
    height: 252px;
    background: #171a29;
    /* width: calc(100% -100px); */
    width: 100%;
    position: relative;
    padding-top: 10px;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.greeting h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    position: relative;
    width: 350px;
    height: 100px;
    color: white;
}

.time-remaining h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: white;
}

.right-intake-status {
    float: right;
    position: relative;
    top: -176px;
    right: 50px;
}

.progress-bar-underlay {

    width: 251px;
    height: 16px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 5px;

}

.progress-bar-overlay {

    width: 50px;
    height: 16px;
    background: rgba(255, 255, 255, 0.48);
    margin-top: -16px;
    border-radius: 5px 0px 0px 5px;

}

.MuiButton-outlined {
    margin-top: 20px !important;
    color: white !important;
    border-color: white !important;
}