.Summary {
    height: 300px;
    background: linear-gradient(45deg, rgba(23,26,41,1) 39%, rgba(14,24,74,1) 100%);
    width: calc(100% - 86px);
    position: relative;
    padding-top: 62px;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    left: 43px;
    border-radius: 30px;
    top: 10px;
    box-shadow: 0px 0px 7px 0px rgba(135,135,135,1);
}
.greeting h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    position: relative;
    width: 350px;
    height: 100px;
    color: white;
}

.time-remaining h3{
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: white !important;
}

.right-intake-status {
    float: right;
    position: relative;
    top: -140px;
    right: 50px;
    font-family: 'Poppins' !important;
    color: white !important;
}

.right-intake-status h3 {
    color: white !important;
}
.progress-bar-underlay {

    width: 251px;
    height: 16px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 5px;

}

.progress-bar-overlay {

    width: 50px;
    height: 16px;
    background: rgba(255, 255, 255, 0.48);
    margin-top: -16px;
    border-radius: 5px 0px 0px 5px;

}

.MuiButton-outlined {
    margin-top: 20px !important;
    margin-right: 15px !important;
    color: white !important;
    border-color: white !important;
}