.Restaurants {
    margin-top: 35px;
    width: 100%;
    text-align: left;
}

.items-inline{
    padding: 0;
    display: flex;
}
.Restaurants h2 {

    margin-left: 50px;

}

.Restaurants h3 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}