/* .logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
} */

.header {
  color: white ! important;
  font-size: large ! important;
  font-weight: 500 ! important;
  background-color: blue !important;
}

.button {
  text-decoration: none !important;
  color: white ! important;

}

