.Recommended {
    width: calc(100% - 100px);
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
}

.items-inline{
    padding: 0;
    display: flex;
}

.Recommended h2 {
    font-family: 'Poppins';
    margin-bottom: 20px;
}